TLConnect/Connected Services/TraceLink/snrequest1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tracelink.com/snx" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReferenceDocuments">
    <xs:sequence>
      <xs:element minOccurs="0" name="PONumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkOrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>